<div class="text-center">
  <% @user ||= current_user %>
    <%= image_tag @user.profile_image.url, size:"200x200", class:"avatar-type-circle" %>
      <span class="personal-name ml-2"><span class="text-muted">@</span><%= @user.name %></span>
    <%= render 'users/follow_form', user: @user %>
</div>
<%= render'user_tabs', user: @user, posts: @posts %>