.file-profile-image {
    display: none;
  }
  .file-profile-image__label {
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .field-profile-image {
    text-align: center;
    margin: 1rem 0 2rem;
  }
  